rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules allow anyone to read and write your database.
    // Ensure you update these rules before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
