@import "tailwindcss";

:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  background-color: #101822;
  /* background-dark */
  color: white;
  margin: 0;
  min-height: 100vh;
}

/* Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1c2027;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3b4554;
  border-radius: 3px;
}